  h3 {  
        width: 200pt; 
        height:2.2cm; 
        padding    : 20px;
        margin-left     : 1310px; 
        border     : 10px ridge  silver; 
        background : rgb(100,100,100); 
}       