*{
font-size: 34pt;
color: blue;
background-color: yellow;

}



p.klasa_nieuniwersalna_Grzegorzak{
font-size: 35pt;
color:purple;
}

h1.klasa_uniwersalna_Grzegorzak 
{
font-size: 27pt;
color:black;
}
/* Grzegorzak Z57_css  */ 